@model Post

@{
    var post = Model;
}

<tr>
    <td>@post.Id</td>
    <td class="image"><img class="post-link-image" src="@post.ImgSrc"></td>
    <td class="title">
        <a href="@Url.Action("Detail", "Post", new { Id = post.Id })">@post.Title</a>
    </td>
    <td class="description">@post.Description</td>
    <td>@post.Category!.Title</td>
    <td class="grid gap">
        <a href="@Url.Action("Update", "Post", new { Id = post.Id })">Edit</a>
        <form asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id">
            @Html.AntiForgeryToken()
            <button type="submit">Delete</button>
        </form>
    </td>
</tr>