@model Post

@{
	var post = Model;
}

<h2>@post.Title</h2>
<h3>@post.Category!.Title</h3>

<div class="container">
	<div class="pad">
		<div class="image">
			<img class="post-link-image" src="@post.ImgSrc">
		</div>
		<div>
			<p>
				@post.Description
			</p>
		</div>
		<div>
			<h3>Rating</h3>
			<p>@post.Rating</p>
		</div>
	</div>
</div>