@model Post[]

@{
    ViewData["Title"] = "My posts";
    var posts = Model;
}

<h2>My posts</h2>

@if (posts.Length is 0)
{
    <p>No post to display :\</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td>@post.Id</td>
                    <td class="image"><img class="post-link-image" src="@post.ImageSrc"></td>
                    <td class="title">
                        <a href="@Url.Action("Detail", "Post", new { Id = post.Id })">@post.Title</a>
                    </td>
                    <td class="description">@post.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
