@model PostFormModel

<h2>Edit post</h2>

<div class="container">
	<div class="pad">
		<form method="post" asp-controller="Post" asp-action="Update" asp-route-id="@Model.Post.Id" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<input type="hidden" asp-for="Post.Id" />
			<div class="form-field">
				<label asp-for="Post.Title">Title</label>
				<input asp-for="Post.Title"/>
				<span asp-validation-for="Post.Title" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Post.Description">Description</label>
				<textarea asp-for="Post.Description"></textarea>
				<span asp-validation-for="Post.Description" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Post.ImageUrl">Image source</label>
				<input asp-for="Post.ImageUrl"/>
				<span asp-validation-for="Post.ImageUrl" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="ImageFormFile">Image file</label>
				<input type="file" asp-for="ImageFormFile"/>
				<span asp-validation-for="ImageFormFile" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Post.CategoryId">Category</label>
				<select asp-for="Post.CategoryId">
					<option value="0"></option>
					@foreach (var cat in Model.Categories)
					{
						<option value="@cat.Id">@cat.Title</option>
					}
				</select>
				<span asp-validation-for="Post.CategoryId" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="SelectedTagIds">Tags</label>
				<select asp-for="SelectedTagIds" multiple="multiple">
					@foreach (var tag in Model.Tags)
					{
						<option value="@tag.Id" selected="@Model.SelectedTagIds.Contains(tag.Id)">@tag.Title</option>
					}
				</select>
			</div>
			<button type="submit">Save</button>
		</form>
	</div>
</div>