@{
    ViewData["Title"] = "Index";

    var posts = new Post[]
    {
        new(
            imageSrc: "https://picsum.photos/id/10/200/300",
            title: "Post title",
            description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!"
        ),
        new(
            imageSrc: "/img/fondo-pag-speciali.jpg",
            title: "Post title 1",
            description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis est adipisci incidunt rem nostrum ipsam fuga ratione tempora eveniet!"
        )
    };
}

@section Styles
{
    <style>
        table {
            border: 1px solid grey;
            border-radius: 4px;
            border-spacing: 0;
        }

        table > tbody tr:nth-child(odd) {
            background-color: lightgrey;
        }

        table :is(td, th) {
            padding: 4px 8px;
        }

        .post-link-image {
            height: 80px
        }
    </style>
}

@await Html.PartialAsync("_ExamplePartial")

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < posts.Length; i++)
        {
            var post = posts[i];

            <tr>
                <td>@i</td>
                <td class="image"><img class="post-link-image" src="@post.ImageSrc"></td>
                <td class="title">
                    <a href="@Url.Action("Index", "Post")">@post.Title</a>
                    <a href="@Url.Action("Privacy")">Privacy</a>
                </td>
                <td class="description">@post.Description</td>
            </tr>
        }
    </tbody>
</table>